{% extends "base.html" %}

{% block title %} 关于作者 {% endblock %}

{% block content %}
  <p>Ｍy name is MarkWhite,I am Chinese Programmer.I use Python ,JS and C in my work. And I am learning Haskell and Go.</p>
  <p>I built this website with Django and bootstrap.You can find source code of this blog in <a href="https://github.com/MarkWh1te">github</a> .</p>
  <p>I will try my best to make this blog become better and bettter!If you have any advices or question, please tell me!</p> 
  <p>You can find me on <a href="https://twitter.com/markw1te">twitter</a>,<a href="https://github.com/MarkWh1te">github</a>.
{% endblock %}
