<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/index.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-custom navbar-default">
        <div class="container-fluid">
            <div class="navbar-header ">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'posts_list' %}">Mark's House </a>  
              </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav"> 
                  <li><a class="headname" href="{% url 'posts_list' %}">Home </a></li>
                  <li><a class="headname" href="{% url 'about' %}">About</a></li>
            </div>
        
    </nav>
    <div class="container">
    {% block content %}
    {% endblock %}
        {% block footer %}
        {% endblock %} 
    <div>
<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/jquery-1.12.2.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
</body>
<footer>
<p> 
<DIV >
作者： <A href="http://www.markwh1te.com">MarkWhite</A> <BR>
出处： <A href="http://www.markwh1te.com">http://www.markwh1te.com/</A> 
<BR>原创文章，版权声明：自由转载-非商用-非衍生-保持署名
<a href= "http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh"> Creative Commons BY-NC-ND 3.0 </a>。 
</DIV>
</p>
</html>