<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MarkWh1te</title>
    <link rel="stylesheet" type="text/css" href="/static/jquery.fullPage.css" />
    <link rel="stylesheet" type="text/css" href="/static/examples.css" />

    <!-- from cdn -->
    <link rel="icon" href="/static/favicon.png">
 <!--    <script src="http://lib.sinaapp.com/js/jquery/1.10/jquery-1.10.0.min.js"></script> -->
    <!-- <script src="http://lib.sinaapp.com/js/jquery-ui/1.10.0/jquery-ui.min.js"></script> -->
   
    <script src="/static/jquery-1.12.2.min.js"></script>
    <script src="/static/jquery-ui.min.js"></script>

    <script src="/static/jquery.fullPage.js"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            $('#fullpage').fullpage(
            {
                sectionsColor: ['#1bbc9b', '#4BBFC3',
                    '#7BAABE'
                ],
                loopTop: true,
                loopBottom: true
            });
        });
    </script>

</head>

<body>


    <div id="fullpage">
        <div class="section " id="section0">
            <h1>Welcome To MarkWh1te Personal Website</h1>
            <p>scroll to see more</p>
        </div>
        <div class="section" id="section1">
            <div class="intro">
                <h1>Technology</h1>
                <p><a href="{% url 'posts_list' %}">Blog</a>,<a href="https://github.com/MarkWh1te">GitHub</a></p>
            </div>
        </div>
        <div class="section" id="section2">
            <div class="intro">
                <h1>Social</h1>
                <p><a href="https://www.zhihu.com/WhiteMark">ZhiHu</a>,<a href="https://twitter.com/wh1temark">Twitter</a>,<a href="https://www.quora.com/profile/Mark-White-122">quora</a></p>
            </div>
        </div>
    </div>


</body>

</html>
