/*a:hover {
  text-decoration: none;
  color:blue;
}*/
/*nav {
  color:white;
}*/
/*nav:hover {
  text-decoration: none;
  color:pink;
}*/
/* .navbar-brand >img { */
  /* width: 25%; */
  /* height: auto; */
  /* padding-top: 0%; */
/* } */
.headname {
  font-size: 220%;
  /* left:-80px; */
}
.navbar-collapse {
  text-align:center;
}
.navbar-nav {
    display:inline-block;
    float:none;
}
u
.list_text {
  color:black;
  text-decoration: none;
}
.list_text :hover {
  color:#929292;
  text-decoration: none;
}
.list_text :link {
  color:#929292;
  text-decoration: none;
}
.list_text :visited {
  color:#929292;
  text-decoration: none;
}
.list_text :active {
  color:#929292;
  text-decoration: none;
}
  
/*.nav-list {
  color:#666666;
}*/
/*.nav-list :hover {
  color:#666666 !important;
}
*/
